.gameboard {
  width: 300px;
  height: 300px;
  background: rgb(66, 81, 124);
  border: 2px solid #000;
  margin: 0 auto 20px auto;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  opacity: 0.95;
  position: relative;
}

.gameboard-tile,
.gameboard-tile-occupied {
  position: relative;
}

.gameboard-tile {
  width: 30px;
  background-color: transparent;
  border: 2px solid #000;
}

.gameboard-tile-occupied {
  background-color: rgb(56, 56, 56);
  border: 2px solid #000;
}

.gameboard-tile-hover-valid {
  border: 2px solid rgb(25, 136, 44);
}

.gameboard-tile-hover-invalid {
  border: 2px solid rgb(136, 25, 31);
}

.gameboard-tile-hover-attack-valid {
  border: 2px solid rgb(228, 155, 19);
  animation: attackBorder 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes attackBorder {
  0% {
    border: 2px solid rgb(228, 155, 19);
  }

  100% {
    border: 2px solid rgb(228, 68, 19);
  }
}

.gameboard-tile-hover-attack-invalid {
  border: 2px solid rgb(136, 25, 31);
}

.gameboard-placing-controls {
  position: absolute;
  top: 0;
  left: 110%;
  width: 100%;
}

.hit,
.miss {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0.7;
}

.hit {
  background-color: rgba(255, 0, 0, 0.1);
}

.miss {
  background-color: transparent;
  opacity: 0.65;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
}