.gameboard {
  width: 400px;
  height: 400px;
  background: rgb(66, 81, 124);
  margin: 0 auto 20px auto;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  opacity: 0.95;
  position: relative;
  background-image: linear-gradient(to top, rgba(66, 81, 124, .9), rgba(66, 81, 124, .9)),
                    url('../assets/sea-board.jpg');
  background-size: cover;
  box-shadow: 0px 0px 20px -1px #00000063;
}

.gameboard::before {
  content: '';
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
}

.gameboard-tile,
.gameboard-tile-occupied {
  position: relative;
  user-select: none;
}

.gameboard-tile {
  background-color: transparent;
  border: 2px solid #000;
}

.gameboard-tile-occupied {
  background-color: rgb(56, 56, 56);
  border: 2px solid #000;
}

.gameboard-tile-hover-valid {
  border: 2px solid rgb(25, 136, 44);
}

.gameboard-tile-hover-invalid {
  border: 2px solid rgb(136, 25, 31);
}

.gameboard-tile-hover-attack-valid {
  border: 2px solid rgb(228, 155, 19);
  animation: attackBorder 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes attackBorder {
  0% {
    border: 2px solid rgb(228, 155, 19);
  }

  100% {
    border: 2px solid rgb(228, 68, 19);
  }
}

.gameboard-tile-hover-attack-invalid {
  border: 2px solid rgb(136, 25, 31);
}

.gameboard-placing-controls {
  position: absolute;
  top: 0;
  left: 110%;
  width: 100%;
}

.gameboard-placing-controls p,
.gameboard-placing-controls button {
  margin-bottom: 20px;
}

.hit,
.miss {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0.7;
}

.hit {
  background-color: rgba(255, 0, 0, 0.1);
}

.miss {
  background-color: transparent;
  opacity: 0.65;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
}

.game-log {
  height: 400px;
  overflow-y: hidden;
}

.game-log p {
  font-size: 1.4rem;
}

.game-log p:nth-of-type(2) {
  opacity: 1;
}

.game-log p:nth-of-type(3) {
  opacity: 0.6;
}

.game-log p:nth-of-type(4) {
  opacity: 0.4;
}

.game-log p:nth-of-type(5) {
  opacity: 0.3;
}

.game-log p:nth-of-type(6) {
  opacity: 0.2;
}

.game-log p.highlight {
  color: rgb(0, 252, 217);
}

.game-log p.warning {
  color: rgb(150, 0, 0);
}

.game-log h3.game-log-win {
  color: rgb(0, 255, 0);
  text-decoration: none;
  animation: gameWin 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes gameWin {
  0%, 75% {
    color: rgb(45, 253, 62); 
  }

  100% {
    color: rgb(30, 226, 46);
  }
}

.game-log h3.game-log-loss {
  color: rgb(192, 31, 31);
  text-decoration: none;
  animation: gameLoss 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes gameLoss {
  0% {
    color: rgb(139, 83, 57);
  }
  
  100% {
    color: rgb(139, 57, 57);
  }
}

.game-log h3.game-log-win,
.game-log h3.game-log-loss {
  margin-bottom: 400px;
  font-size: 1.8rem;
}

.game-log h3:first-of-type {
  margin-bottom: 20px;
  font-size: 2.0rem;
  text-decoration: underline;
  text-transform: uppercase;
}




@media only screen and (max-height: 650px) {
  .gameboard {
    width: 300px;
    height: 300px;
  }

  .game-log {
    height: 300px;
  }
}