.gameboard {
  width: 400px;
  height: 400px;
  background: rgb(66, 81, 124);
  margin: 0 auto 20px auto;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  opacity: 0.95;
  position: relative;
  background-image: linear-gradient(to top, rgba(66, 81, 124, .9), rgba(66, 81, 124, .9)),
                    url('../../assets/sea-board.jpg');
  background-size: cover;
  box-shadow: 0px 0px 20px -1px #00000063;
}

.gameboard::before {
  content: '';
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
}

.gameboard-tile,
.gameboard-tile-occupied {
  position: relative;
  user-select: none;
}

.gameboard-tile {
  background-color: transparent;
  border: 2px solid #000;
}

.gameboard-tile-occupied {
  background-color: rgb(56, 56, 56);
  border: 2px solid #000;
}

.gameboard-tile-hover-valid {
  border: 2px solid rgb(25, 136, 44);
}

.gameboard-tile-hover-invalid {
  border: 2px solid rgb(136, 25, 31);
}

.gameboard-tile-hover-attack-valid {
  border: 2px solid rgb(228, 155, 19);
  animation: attackBorder 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes attackBorder {
  0% {
    border: 2px solid rgb(228, 155, 19);
  }

  100% {
    border: 2px solid rgb(228, 68, 19);
  }
}

.gameboard-tile-hover-attack-invalid {
  border: 2px solid rgb(136, 25, 31);
}

.gameboard-placing-controls {
  position: absolute;
  top: 0;
  left: 110%;
  width: 100%;
}

.gameboard-placing-controls p,
.gameboard-placing-controls button {
  margin-bottom: 20px;
}

.hit,
.miss {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0.7;
}

.hit {
  background-color: rgba(255, 0, 0, 0.1);
}

.miss {
  background-color: transparent;
  opacity: 0.65;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
}

.game-log {
  height: 400px;
  overflow-y: hidden;
  position: relative;
}

.game-log p {
  font-size: 1.4rem;
}

.game-log p:nth-of-type(2) {
  opacity: 1;
}

.game-log p:nth-of-type(3) {
  opacity: 0.6;
}

.game-log p:nth-of-type(4) {
  opacity: 0.4;
}

.game-log p:nth-of-type(5) {
  opacity: 0.3;
}

.game-log p:nth-of-type(6) {
  opacity: 0.2;
}

.game-log p.highlight {
  color: rgb(0, 252, 217);
}

.game-log p.warning {
  color: rgb(150, 0, 0);
}

.game-log h3.game-log-win-header {
  color: rgb(19, 253, 117);
  text-decoration: none;
  animation-name: gameWin;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes gameWin {
  0%, 75% {
    color: rgb(19, 253, 117);
  }

  75%, 80% {
    color: rgb(40, 236, 122);
  }

  81%, 85% {
    color: rgb(19, 253, 117);
  }

  86%, 90% {
    color: rgb(40, 236, 122);
  }

  91%, 95% {
    color: rgb(19, 253, 117);
  }

  96%, 100% {
    color: rgb(40, 236, 122);
  }
}

.game-log h3.game-log-loss-header {
  color: rgb(194, 0, 0);
  text-decoration: none;
  animation-name: gameLoss;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes gameLoss {
  0%, 75% {
    color: rgb(194, 0, 0);
  }

  75%, 80% {
    color: rgb(175, 2, 2);
  }

  81%, 85% {
    color: rgb(194, 0, 0);
  }

  86%, 90% {
    color: rgb(175, 2, 2);
  }

  91%, 95% {
    color: rgb(194, 0, 0);
  }

  96%, 100% {
    color: rgb(175, 2, 2);
  }
}

.game-log h3.game-log-win-header,
.game-log h3.game-log-loss-header {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 1.8rem;
  text-shadow: 1px 1px 5px #4a4d49;
}

.game-log p.game-log-win {
  color: rgb(241, 255, 243);
  margin-bottom: 400px;
  text-shadow: 1px 1px 5px #4a4d49;
}

.game-log p.game-log-loss {
  color: rgb(255, 241, 241);
  margin-bottom: 400px;
  text-shadow: 1px 1px 5px #4a4d49;
}

.game-log h3:first-of-type {
  margin-bottom: 20px;
  font-size: 2.0rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.game-log-win-header,
.game-log-loss-header {
  font-family: 'Black Ops One', serif;
}

.passing-device h3 {
  font-size: 2.0rem;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  animation: 2s ease-in-out 0s infinite alternate-reverse forwards flashSlowly;
}

@keyframes flashSlowly {
  0% {
    color: rgb(66, 74, 110);
  }

  100% {
    color: rgb(0, 0, 0);
  }
}

button.play-again {
  opacity: 0;
  width: 100%;
  margin: 15px 0 0 0;
  animation-name: flashBorder, fadeIn;
  animation-delay: 5s, 1s;
  animation-duration: .5s, .5s;
  animation-iteration-count: infinite, 1;
  animation-direction: alternate-reverse, normal;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: ease-in-out, ease-in-out;
}

@keyframes flashBorder {
  0% {
    border: 2px solid rgb(46, 47, 48);
    transform: scale(0.98);
  }

  100% {
    border: 2px solid #000;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}


@media only screen and (max-height: 650px) {
  .gameboard {
    width: 300px;
    height: 300px;
  }

  .game-log {
    height: 300px;
  }

  .game-log h3:first-of-type,
  .game-log h3.game-log-win-header,
  .game-log h3.game-log-loss-header {
    font-size: 1.6rem;
  }
}