@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=VT323&display=swap');

.wrap {
  width: 95%;
  max-width: 1350px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Black Ops One', serif;
}

h1 {
  font-size: 5.0rem;
}

h2 {
  font-size: 3.0rem;
}

p,
button,
input {
  font-size: 2.0rem;
}

p.smaller-p {
  font-size: 1.6rem;
}

input,
button {
  padding: 7px 20px;
  margin: 0 10px;
  border-radius: 3px;
  border: 2px solid #000;
}

input {
  background-color: #fff;
}

button,
input[type="submit"] {
  background-color: rgb(0, 21, 65);
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

  button:enabled:hover,
  input[type="submit"]:hover {
    background-color: rgb(24, 50, 104);
  }

  button:disabled {
    background-color: rgb(77, 84, 102);
    border: 2px solid rgb(66, 66, 66);
    cursor: not-allowed;
  }

.App {
  text-align: center;
}

.App h1,
.App h2 {
  text-transform: uppercase;
  text-shadow: 0 0 15px #5d6aa299;
  color: rgb(0, 21, 65);
  margin: 60px 0 80px 0;
}

.App h2 {
  margin-bottom: 30px;
}

.App p {
  margin-bottom: 20px;
}

.fade-out {
  transition: 1s;
  opacity: 0;
}

div.half {
  width: 50%;
  padding: 0 10px;
  display: inline-block;
}