* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./assets/sea.jpg');
  background-size: cover;

  color: rgb(29, 29, 29);
}

html,
body,
button,
input {
  font-family: 'VT323', monospace;
}
